header {
    background-color: #00237d;
    width: auto;
    top: 0;
    position: sticky;
    z-index: 10;
}

@font-face {
    font-family: "Blooming Elegant";
    src: url(Fonts/Blooming\ Elegant\ Sans.otf);
}

@font-face {
    font-family: "Cedora Bold";
    src: url(Fonts/Cedora-BoldStd.otf);
}

@font-face {
    font-family: "Purisma Bold";
    src: url(Fonts/Purissima\ Bold\ W00\ Regular.ttf);
}

.text-white {
    color: white;
}

.mt-8 {
    margin-top: 80px;
}

.pb-8 {
    padding-bottom: 80px;
}

.team-card>img,
.team-card__substrate {
    width: 255px;
    height: 306px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.team-card {
    margin-bottom: 40px;
    position: relative;
}

.team-card>img {
    z-index: 2;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5);
}

.team-card__substrate {
    background-color: #0c5adb;
    position: absolute;
    transition: all 1s;
    z-index: 1;
}

.team-card:hover .team-card__substrate {
    transform: rotate(-10deg);
}


.team-card__paralelogram {
    background-color: #0c5adb;
    position: absolute;
    top: 240px;
    width: 220px;
    height: 70px;
    z-index: 6;
    clip-path: polygon(20% 0%, 95% 0%, 75% 100%, 0% 100%);
}

.team-card__paralelogram span {
    color: white;
    position: absolute;
}

.team-card__name-title {
    font-size: 26px;
    font-family: "Purisma Bold";
    top: 12px;
    left: 55px;
}

.team-card__position-title {
    font-size: 17px;
    font-family: "Noto Sans", sans-serif;
    top: 40px;
    left: 53px;
    visibility: visible;
    /*Изначально элемент видимый */
    opacity: 1;
    transition: all 0.5s;
}

.team-card:hover .team-card__position-title {
    transform: translateY(-24px);
    visibility: hidden;
    opacity: 0;
}

.team-card__Icons {
    top: 80px;
    left: 53px;
    visibility: hidden;
    opacity: 0;

}

.team-card:hover .team-card__Icons {
    top: 40px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.team-card__Icons a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}


.team-card__famous-people {
    display: flex;
    position: relative;
}

.testi-bg-img-container__name-title {
    font-family: "Noto Sans", sans-serif;
}

.testi-bg-img-container__name-title,
.testi-bg-img-container__main-title {
    color: white;
}

.text-about__people {
    font-size: 13px;
}

.text-name {
    font-family: "Noto Sans", sans-serif;
    position: relative;
    left: 145px;
    top: 10px;
}

.text-profession {
    position: relative;
    font-family: "Purisma Bold";
    top: 30px;
    left: 68px;
    font-size: 20px;
}

.card-review__triangle {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    bottom: -20px;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}


/* 
    center - изображение должно быть выровнено по центру контейнера
    cover - указывает, что изображение должно быть масштабировано так,
        чтобы покрыть всю доступную область, при этом сохраняя свои пропорции.
        Если пропорции изображения отличаются от пропорций контейнера,
        изображение будет обрезано так, чтобы оно полностью покрывало 
        контейнер без искажения

    no-repeat указывает, что фоновое изображение не должно повторяться.
    Т.е. изображение будет отображено только один раз, без повторений, 
    даже если размер контейнера больше размера изображения
*/
.testi-bg-img-container {
    background: url(Assets/testi-bg.jpg) center/cover no-repeat;
    height: auto;
}

.card-review {
    position: relative;
    width: 320px;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.image-circle{
    border-radius: 50%;
}

.progressBar{
    position: relative;
    z-index: -1;    
}

.progress-bar__line{
    content: '';
    display: block;
    width: 120px;
    border-top: 7px #cbbdeb solid;
    border-radius: 2px;
    position: absolute;
    z-index: -1;
}

.progress-bar__circle{
    background: #0c59d1;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    position: absolute;
    top: -10px;
    animation: move-circle-in-progress-bar 2s infinite;
}


@keyframes move-circle-in-progress-bar {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(110px);
    }
}