.ukrainian-flag__icon{
    margin-top: -4px;
}

.dropdown-button{
    background-color: rgb(197, 221, 249); 
}

.dropdown-menu{
    --bs-dropdown-min-width: 4rem;
    --bs-dropdown-padding-y: 0.2rem
}